<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hichlink.funion.mh.common.dao.MobileHomeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hichlink.funion.mh.common.entity.MobileHomeInfo" >
    <id column="mobile_no" property="mobileNo" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="operator_code" property="operatorCode" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <!--例子:<if test="params['name'] != null and  params['name'] != ''">and name=#{params.name}</if>-->
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mobile_no, operator_name, province, city,area_code,operator_code, create_date, modify_date
  </sql>
  <select id="pageQuery" resultMap="BaseResultMap" parameterType="com.aspire.webbas.core.pagination.mybatis.pager.Page" >
    select
    <include refid="Base_Column_List" />
    from mobile_home_info
    <if test="params != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mobile_home_info
    where mobile_no = #{mobileNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mobile_home_info
    where mobile_no = #{mobileNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hichlink.funion.mh.common.entity.MobileHomeInfo" >
    insert into mobile_home_info (mobile_no, operator_name, province, 
      city,area_code, operator_code, create_date, 
      modify_date)
    values (#{mobileNo,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR},#{areaCode,jdbcType=VARCHAR}, #{operatorCode,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hichlink.funion.mh.common.entity.MobileHomeInfo" >
    insert into mobile_home_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mobileNo != null" >
        mobile_no,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="areaCode != null" >
        area_code,	
      </if>
      <if test="operatorCode != null" >
        operator_code,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null" >
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hichlink.funion.mh.common.entity.MobileHomeInfo" >
    update mobile_home_info
    <set >
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null" >
        operator_code = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mobile_no = #{mobileNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hichlink.funion.mh.common.entity.MobileHomeInfo" >
    update mobile_home_info
    set operator_name = #{operatorName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      operator_code = #{operatorCode,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where mobile_no = #{mobileNo,jdbcType=VARCHAR}
  </update>
</mapper>